*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.App{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5%;
    box-shadow: 0px 0px 200px 10px rgb(128, 21, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 25vw;
    
}

.showResult-container{
    
    height: 50%;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    
}

.show-result{
    padding-right: 1%;
}

.input{
    width: 100%;
    text-align: right;
    background-color: black;
    border: none;
    outline: none;
    color: white;
}

.show-result{

}

.preview-result{
    
    margin-top: 5%;
}

.btn-containers{
    
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15%;

}

.btn{
    width: 22%;
    margin: 0 8px;
    outline: none;
    border: none;
    border-radius: 10%;
    background-color: rgb(54, 48, 48);
    color: white;
    font-size: 20PX;
    text-align: center;
   

}

.btn:hover{
    background-color: rgb(144, 136, 148);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.limpiar{
    width: 40%;
}

.borrar{
    width: 40%;
}

.equal{
    width: 80%;
}

@media (max-width: 600px) {
  
    .App{
        border-radius: 0%;
        height: 100vh;
        width: 100vw;
        
    }

    .show-result{
    
    }

    .preview-result{
        
    }
    
    .btn{
        font-size: 30px;
    }
}

/*@media (min-width: 601px) and (max-width: 1000px) {
    .App{
        
        height: 80vh;
        width: 60vw;
    }

    .show-result{
       
        height: 30%;
        font-size: 55px;
    }

    .preview-result, .btn{
       
        font-size: 30px;
    }
}

@media (min-width: 1000px) and (min-height: 1300px) {
    .App{
        
        height: 80vh;
        width: 60vw;    
    }

    .show-result{
        
        height: 30%;
        font-size: 55px;
    }
    

    .preview-result, .btn{
       
        font-size: 30px;
    }
}


